body {
    background-color: azure;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    color:rgb(106, 69, 186)
}

p {
    font-style: normal;
}

.standard {
    color:black;
}

.city {
    background-color:tomato;
    color:white;
    padding: 10%;
}

footer {
    direction: rtl;
}

.ex1 {
    width: 500px;
    margin: auto;
    border: 3px solid #73AD21;
}

.ex2 {
    max-width: 500px;
    margin: auto;
    border: 3px solid #73AD21;
}
