body {
    background-color: azure;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    color:rgb(106, 69, 186)
}

p {
    font-style: normal;
}

.standard {
    color:black;
}

.city {
    background-color:tomato;
    color:white;
    padding: 10%;
}

footer {
    direction: rtl;
}

.ex1 {
    width: 500px;
    margin: auto;
    border: 3px solid #73AD21;
}

.ex2 {
    max-width: 500px;
    margin: auto;
    border: 3px solid #73AD21;
}

figure:hover {
    opacity: 0.5;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdownContent {
    display: none;
    position: absolute;
    background-color: blue;
    box-shadow: (0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdownContent {
    display: block;
}
