body {
    background-color:rgb(205, 189, 219)
}

h1 {
    color:rgb(106, 69, 186)
}

p {
    font-style: normal;
}

.standard {
    color:black;
}

.city {
    background-color:tomato;
    color:white;
    padding: 10%;
}
